.table {
  border-collapse: collapse;
}

.heading {
  position: relative;
  width: 200px;
  text-align: center;
  border: 1px solid black;

  &:first-child {
    width: 20px;
  }
}

.cell {
  text-align: left;
  border: 1px solid black;

  &:first-child {
    text-align: center;
  }
}

.sort-btn {
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.form {
  margin: 5px 0;
}
